$nav-bg-colour: rgb(33,37,41);
$btn-bg-colour1: #0d6efd;
$btn-bg-colour2: transparent;
$btn-hover-colour1: #0b5ed7;
$btn-hover-colour2: white;
$myfont: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$text-colour1: white;
$text-hover-colour1: white;
$text-hover-colour2: black;
$text-colour2:  rgba(255, 255, 255, 0.55);
$text-colour2-hover:  rgba(255, 255, 255, 0.85);

